<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Através da Class</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="shortcut icon" href="../assets/img/vasco-favicon.png" type="image/x-icon">
    <style>
        #p {
            color: #b6895d;     /*cor de um P específico*/
        }
        .txtstrong, .txtitalic, .txtcoment, .txtW, .txt, .txtfont {
            color: #ede7ff;
            background-color: #e1ebff05;
        }
        .COne, .CTwo, .CTree {
            background-color: #46464615;
        }
    </style>
</head>
<body>
    <div class="title">
        <h1>Manipulando o DOM através do elemento DIV CLASS</h1>
        <div id="p">
            <p>document.getElemntByClassName</p>
        </div>
    <!-- Título principal da página de manipulação do DOM com o elemento Class -->
    </div>
    <div class="title2">
        <h2>Exemplos:</h2>
    </div>
    <hr>
    <h3>Exemplo 1: manipulação de cores</h3>
    <div class="COne">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis nam totam a asperiores dolor expedita incidunt maiores tempora. Saepe expedita consectetur eius dolorem temporibus, maxime quisquam numquam eum voluptatum itaque?</p>
    </div>
    <div class="CTwo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nisi nesciunt voluptates sapiente dolore saepe maxime placeat porro eum impedit in possimus voluptate odio ratione asperiores, aliquid aliquam quasi reprehenderit.</p>
    </div>
    <div class="CTree">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum quod deleniti quis. Ipsa aspernatur mollitia magni consequatur repellendus, harum suscipit officia sequi obcaecati quibusdam porro iusto! Ad magni dolore necessitatibus.</p>
    </div>
    <!-- Manipulando cores e fórmas do elemento -->
    
    <h3>Exemplo 2: Manipulação de tipo textual</h3>  
    <div class="txtstrong">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione officiis quae eaque, asperiores dicta cupiditate odio illum rem quam culpa sit molestias quaerat consequatur perspiciatis laborum aspernatur tempore harum vel?</p>
    </div>
    <br>
    <div class="txtitalic">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam perferendis dignissimos fugiat sequi culpa illum, officia hic doloribus. Nisi recusandae placeat dolores maiores aliquid nostrum dolorum illum dolore sit rem!</p>
    </div>
    <br>
    <div class="txtcoment">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur id iste voluptate itaque asperiores soluta aliquam quidem accusantium est eius incidunt optio quaerat assumenda ipsa sapiente reiciendis temporibus, minus voluptatem?</p>
    </div>
    <br>
    <div class="txt">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eligendi hic corrupti exercitationem quidem minus? Suscipit sint quas nisi minima perspiciatis modi, quidem iure at maxime autem commodi incidunt eligendi?</p>
    </div>
    <br>
    <div class="txtfont">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quod beatae non ipsam harum fuga pariatur delectus vel nulla voluptatum atque dolores ducimus enim facere modi quibusdam magnam, veritatis eum!</p>
    </div>
    <!-- Manipulando texto e tipos textuais do elemento -->
     <hr>
    <script src="../assets/scripts/class.js">
    </script>
</body>
</html>