<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Através da Class</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="shortcut icon" href="../assets/img/vasco-favicon.png" type="image/x-icon">
    <style>
        #p {
            color: #b6895d;
        }
    </style>
</head>
<body>
    <div class="title">
        <h1>Manipulando o DOM através do elemento DIV CLASS</h1>
        <div id="p">
            <p>document.getElemntByClassName</p>
        </div>
    </div>
    <div class="title2">
        <h2>Exemplos:</h2>
    </div>
    <h3>Exemplo 1: manipulação de cores</h3>
    <div class="color">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis nam totam a asperiores dolor expedita incidunt maiores tempora. Saepe expedita consectetur eius dolorem temporibus, maxime quisquam numquam eum voluptatum itaque?</p>
    </div>
    <h3>Exemplo 2: manipulação de texto</h3>
    <div class="txt">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eligendi hic corrupti exercitationem quidem minus? Suscipit sint quas nisi minima perspiciatis modi, quidem iure at maxime autem commodi incidunt eligendi?</p>
    </div>
    <h3>Exemplo 3: manipulação da forma do texto</h3>
    <div class="TxtType">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quod beatae non ipsam harum fuga pariatur delectus vel nulla voluptatum atque dolores ducimus enim facere modi quibusdam magnam, veritatis eum!</p>
    </div>
    <script src="../assets/scripts/class.js">
    </script>
</body>
</html>